
#header{
    width: 100%;
    height: 0.88rem;
    background-color:#f9cf3e;
}
.container {
    width: 7.02rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
}
.topBar{
    width: 100%;
    height: 100%;
    /*background: #2196f3;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchBox{
    width: 4.34rem;
    height: 0.4rem;
    background: white;
    border-radius: 0.2rem;

}
.scan {
    width: 0.4rem;
    height: 0.4rem;
    /*background: white;*/
    font-size: 0.4rem;
    color: white;
    line-height: 0.4rem;

}
.search{
    width: 0.34rem;
    height: 0.34rem;
    /*background: #83c44e;*/
    opacity: 0.3;
    margin-top: 0.03rem;
    margin-left: 0.13rem;
    float:left;
}
input{
    width: 3.1rem;
    height: 0.28rem;
    border: none;
    /*background: #83c44e;*/
    float: left;
    margin-top: 0.04rem;
}
.camera{
    width: 0.38rem;
    height: 0.3rem;
    /*background:firebrick;*/
    float: right;
    margin-top: 0.04rem;
}
/*搜索栏结束*/
/*轮播图开始*/
.rotation {
    width: 7.5rem;
    height: 3.87rem;
    /*background: #83c44e;*/
    margin: 0 auto;
    margin-top: 0.24rem;
    box-shadow: 0 5px 20px #f9cf3e;
    position: relative;
}
#rota{
    width: 7.02rem;
    height: 3.63rem;
    /*background: #ffac13;*/
    margin: 0 auto;
    position: relative;

}
#rota>li {
    width: 7.02rem;
    height: 3.63rem;
    /*background: #aaaaaa;*/
    position: absolute;
    top: 0;
    left: 0;
}
li img{
    width: 100%;
    height: 100%;
}
#rota>li.first{
    z-index: 1;
}
#carousel{
    width: 1.4rem;
    height: 0.14rem;
    /*background: #2196f3;*/
    position: absolute;
    left: 2.81rem;
    top:3.35rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}
#carousel>li{
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 50%;
    background: #84837f;
}
#carousel>li.first{
    background: #f9cf3e;
}
/*轮播图开结束*/
/*分类开始*/
.category{
    width: 7.03rem;
    height: 2.38rem;
    background-color: #fff9a0;
    border-radius: 0.3rem;
    margin: 0 auto;
    margin-top: 0.24rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*align-content: space-around;*/
}
.con{
    width: 0.72rem;
    height: 1.19rem;
    padding-top: 0.17rem;
    font-size: 0.18rem;
}
.con p{
    margin: 0;
    line-height: 0.16rem;
}
/*分类结束*/
/*限时开始*/
.flashBox{
    width: 7.02rem;
    height: 4.02rem;
    /*background: #83c44e;*/
    margin: 0 auto;
    padding-bottom: 0.17rem;
    margin-top: 0.07rem;
}
.flashSale{
    width: 4.29rem;
    height: 0.7rem;
    /*background: #aaaaaa;*/
    margin: 0 auto;
}
.flashImg{
    width: 2.35rem;
    height: 0.23rem;
    /*background: #ff6700;*/
    margin: 0 auto;
    line-height: 0.23rem;
}
.flashSale>ul{
    width: 4.29rem;
    height: 0.19rem;
    /*background: #ffac13;*/
    margin-top: 0.28rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.19rem;
    line-height: 0.19rem;
    font-weight:600;
    font-family: PingFang-SC-Heavy;
    color: #ff29bb;

}
.flashSale>ul li:first-child{
    color:#aaaaaa;
}
.timeBox {
    width: 2.49rem;
    height: 0.4rem;
    /*background: #2b542c;*/
    margin: 0 auto;
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time{
    width: 0.3rem;
    height: 0.4rem;
    background: #f181cd;
    font-size: 0.24rem;
    font-weight: 600;
    text-align: center;
    line-height: 0.4rem;
    color: #ff38bf;
}
.time:nth-child(3){
    width: 0.06rem;
    height: 0.13rem;
    /*background: #aaaaaa;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.time:nth-child(6){
    width: 0.06rem;
    height: 0.13rem;
    /*background: #aaaaaa;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dian{
    width: 0.06rem;
    height: 0.06rem;
    background: #ff38bf;
    border-radius: 50%;
}
.propaganda{
    width: 100%;
    height: 2.3rem;
    /*background: #2aabd2;*/
    margin-top: 0.24rem;
}
.pub{
    width: 3.36rem;
    height: 2.3rem;
    background-image: linear-gradient(40deg,
    #3afbf4 0%,
    #34fcae 70%,
    #2dfc68 100%);
    border-radius: 0.1rem;
    float: left;
}
.pubText{
    width: 1.42rem;
    height: 1.41rem;
    /*background: #c12e2a;*/
    margin-left: 0.2rem;
    margin-top: 0.61rem;
    float: left;
    color: white;
    font-weight: 500;
    font-size: 0.26rem;
}
.pubImg{
    width: 1.71rem;
    height: 1.25rem;
    /*background: #2b542c;*/
    float: right;
    margin-top: 1.0rem;
}
.pubText>p{
    margin-bottom: 0.13rem;
}
.more{
    width: 1.13rem;
    height: 0.4rem;
    background-color: #ec7424;
    border-radius: 0.2rem;
    margin-top: 0.18rem;
}
.pubText>p:nth-child(2){
    font-size: 0.22rem;
}
.tow{
    float: right;
    background-image: linear-gradient(40deg,
    #d4fb3a 0%,
    #e8d134 70%,
    #fca72d 100%);
}
/*限时结束*/
/*每日推荐开始*/
.recommendBox{
    width: 100%;
    height: 7.32rem;
    background: #eaeaea;
    padding:0 0.24rem;
    padding-top: 0.24rem;
    margin: 0 auto;
    margin-bottom: 0.98rem;

}
.recommend{
    width: 7.03rem;
    height: 0.9rem;
    /*background: #2b542c;*/
    margin: 0 auto;

}
.recommendImg{
    width: 3.33rem;
    height: 0.66rem;
    /*background: #c12e2a;*/
    margin-top: 0.24rem;
    float: left;
}
.recommendBox ul{
    width: 7.03rem;
    height:6.03rem;
    /*background: #2dfc68;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.recommendBox li{
    width: 7.03rem;
    height: 1.69rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    padding: 0.24rem;
}
.box-img {
    width: 1.19rem;
    height: 1.19rem;
    /*background: #0f0f0f;*/
    float: left;
}
.commodity{
    width: 4.57rem;
    height: 0.34rem;
    /*background: #c12e2a;*/
    float: left;
    padding-left: 0.05rem;

}
.commodity p{
    font-size: 0.24rem;
    font-weight: 600;
    text-align: left;
    display: block;
    width: 1.6rem;
    float: left;
}
.stars{
    width: 1.9rem;
    height: 0.34rem;
    /*background: #2196f3;*/
    float: right;
    color: #ffac13;
}
.stars i:nth-child(5){
    color: #aaaaaa;
}
.com{
    width: 3.64rem;
    height: 0.75rem;
    /*background: #ff6700;*/
    float: left;
    margin-top: 0.13rem;
}
.com p{
    width: auto;
    height: auto;
}
.com p:nth-child(1){
    font-size: 0.24rem;
    color:#aaaaaa;
}
.com p:nth-child(2){
    font-size: 0.18rem;
    color: #ff296f;
}
.com p:nth-child(3){
    font-size: 0.18rem;
    color:#ffed29;
    float: right;
}
.shop{
    width: 0.74rem;
    height: 0.74rem;
    /*background: #2196f3;*/
    float: right;
    margin-top: 0.47rem;
}
/*每日推荐结束*/
/*底部导航栏开始*/
.BoxBottom{
    width: 100%;
    height: 0.98rem;
    background: white;
    position: fixed;
    bottom: 0;
}
.BoxBottom ul{
    width: 5.82rem;
    height: 100%;
    /*background: #2196f3;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.BoxBottom li{
    width: 0.49rem;
    height: 0.71rem;
    /*background: #ffac13;*/
    margin-top: 0.14rem;
    color: #aaaaaa;
    font-size: 0.19rem;
    text-align: center;
}
.ImgBox{
    width: 0.49rem;
    height: 0.49rem;
    /*background: #0f0f0f;*/
}
.BoxBottom li:nth-child(1){
    color: #ffed29;
}


/*底部导航栏结束*/
@font-face {
    font-family: 'iconfont';  /* project id 1030735 */
    src: url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.eot');
    src: url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030735_k6wj8x2rwzt.svg#iconfont') format('svg');
}
i{
    font-family: iconfont;
    font-style: normal;
}